<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example2" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Inmueble</th>
                        <th>Imagen</th>
                        <th>Municipio</th>
                        <th>Estado</th>
                        <th>M2 Const.</th>
                        <th>M2 Terreno</th>
                        <th>Precio</th>
                        <th>Status</th>
                        <th>Tipo de Negocio</th>
                        <th>Agente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inmueble in inmuebles %}
                        {% if inmueble.estado_publicacion == 'Activo' %}
                        <tr>
                            <td>{{ inmueble.tipo_inmueble[:2]|capitalize }}-25-{{ inmueble.id }}</td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() == 'terreno' %}
                                {{ inmueble.titulo_publicacion }}
                              {% else %}
                                {{ inmueble.titulo_propiedad }}
                              {% endif %}
                            </td>
                          
                            <td>
                                {% if inmueble.imagen_principal %}
                                    {% set imagenes = inmueble.imagen_principal.split(',') %}
                                    {% if imagenes and imagenes[0] %}
                                        <img src="/static/imagenes/inmuebles/{{ imagenes[0] }}" alt="Imagen Inmueble" style="width: 100px;">
                                    {% else %}
                                        No imagen
                                    {% endif %}
                                {% else %}
                                    No imagen
                                {% endif %}
                            </td>
                            <td>{{ inmueble.ciudad }}</td>
                            <td>{{ inmueble.estado_departamento }}</td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() in ['local', 'galpon', 'terreno', 'comercio'] %}
                                {{ inmueble.m2_construccion }}
                              {% else %}
                                {{ inmueble.metros_construccion }}
                              {% endif %}
                            </td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() in ['local', 'galpon', 'terreno', 'comercio'] %}
                                {{ inmueble.m2_terreno }}
                              {% else %}
                                {{ inmueble.metros_terreno }}
                              {% endif %}
                            </td>
                            <td>{{ inmueble.precio }}</td>
                            <td>{{ inmueble.estado_publicacion }}</td>
                            <td>{{ inmueble.tipo_negocio }}</td>
                            <td>{{ inmueble.agente.nombre }} {{ inmueble.agente.apellido }}</td>
                            <td>
                                <div>
                                <a href="{{ url_for('main.ver_inmueble', tipo_inmueble=inmueble.tipo_inmueble.lower(), inmueble_id=inmueble.id) }}" class="mb-12" title="Ver">
                                    <i class="fas fa-eye"></i>
                                </a>
                                </div>
                                <div>
                                <a href="{{ url_for('main.editar_inmueble', tipo_inmueble=inmueble.tipo_inmueble.lower(), inmueble_id=inmueble.id) }}" class="mb-12" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                </div>
                                <div>
                                <a href="{{ url_for('main.eliminar_inmueble', tipo_inmueble=inmueble.tipo_inmueble.lower(), inmueble_id=inmueble.id) }}" class="mb-12" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este inmueble?')">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                </div>
                                <!-- Nuevo botón para pasar a Negociación -->
                                <div>
                                <a href="{{ url_for('main.crear_negociacion', tipo_inmueble=inmueble.tipo_inmueble.lower(), id=inmueble.id) }}" class="mb-12" title="Negociar">
                                    <span class="">N</span>
                                </a>
                                </div>
                                {% if inmueble.tipo_negocio in ['Venta', 'Venta y Alquiler'] %}
                                <div>
                                    <a href="{{ url_for('main.crear_vendidos', tipo_inmueble=inmueble.tipo_inmueble.lower(), id=inmueble.id) }}" class="mb-12" title="Vender">
                                        <span class="">V</span>
                                    </a>
                                </div>
                                {% endif %}
                                {% if inmueble.tipo_negocio in ['Alquiler', 'Venta y Alquiler'] %}
                                <div>
                                    <a href="{{ url_for('main.crear_alquilados', tipo_inmueble=inmueble.tipo_inmueble.lower(), id=inmueble.id) }}" class="" title="Alquilar">
                                        <span class="">A</span>
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% elif inmueble.estado_publicacion in ['negociacion', 'vendido', 'alquilado'] %}
                        <tr>
                            <td>{{ inmueble.tipo_inmueble[:2]|capitalize }}-25-{{ inmueble.id }}</td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() == 'terreno' %}
                                {{ inmueble.titulo_publicacion }}
                              {% else %}
                                {{ inmueble.titulo_propiedad }}
                              {% endif %}
                            </td>
                            <td>
                                {% if inmueble.imagen_principal %}
                                    {% set imagenes = inmueble.imagen_principal.split(',') %}
                                    {% if imagenes and imagenes[0] %}
                                        <img src="/static/imagenes/inmuebles/{{ imagenes[0] }}" alt="Imagen Inmueble" style="width: 100px;">
                                    {% else %}
                                        No imagen
                                    {% endif %}
                                {% else %}
                                    No imagen
                                {% endif %}
                            </td>
                            <td>{{ inmueble.ciudad }}</td>
                            <td>{{ inmueble.estado }}</td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() in ['local', 'galpon', 'terreno', 'comercio'] %}
                                {{ inmueble.m2_construccion }}
                              {% else %}
                                {{ inmueble.metros_construccion }}
                              {% endif %}
                            </td>
                            <td>
                              {% if inmueble.tipo_inmueble.lower() in ['local', 'galpon', 'terreno', 'comercio'] %}
                                {{ inmueble.m2_terreno }}
                              {% else %}
                                {{ inmueble.metros_terreno }}
                              {% endif %}
                            </td>
                            <td>{{ inmueble.precio }}</td>
                            <td>{{ inmueble.estado_publicacion }}</td>
                            <td>{{ inmueble.tipo_negocio }}</td>
                            <td>{{ inmueble.agente.nombre }} {{ inmueble.agente.apellido }}</td>
                            <td>
                                <div>
                                    <a href="{{ url_for('main.ver_inmueble', tipo_inmueble=inmueble.tipo_inmueble.lower(), inmueble_id=inmueble.id) }}" class="mb-12" title="Ver">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="{{ url_for('main.activar_inmueble', tipo_inmueble=inmueble.tipo_inmueble.lower(), id=inmueble.id) }}"
                                        class="mb-12" 
                                        title="Activar"
                                        onclick="return confirm('¿Estás seguro de activar este inmueble?')">
                                            <i class="fas fa-check-circle"></i>
                                        </a>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Codigo</th>
                        <th>Inmueble</th>
                        <th>Imagen</th>
                        <th>Municipio</th>
                        <th>Estado</th>
                        <th>M2 Const.</th>
                        <th>M2 Terreno</th>
                        <th>Precio</th>
                        <th>Status</th>
                        <th>Tipo de Negocio</th>
                        <th>Agente</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>