<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" type="image/png" />
    <!--plugins-->
    <link href="{{ url_for('static', filename='assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/fullcalendar/css/main.min.css') }}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-extended.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet">
    <title>Avilach</title>
</head>

<body>

    {% include 'partials/sidebar-agente.html' %}
    <div class="page-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">

                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        <div class="alert-container">
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ category }}">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                    {% include 'partials/principal-agenda.html' %}
                                </div>
                            </div>
                                    
                        </div>
                        <div class="col-lg-4">
                            {% include 'partials/principal-avisos.html' %}
                        </div>

                        <div class="col-lg-4">{% include 'partials/principal-noticia.html' %}</div>
                        <div class="col-lg-4">{% include 'partials/principal-medios.html' %}</div>
                        <div class="col-lg-4">{% include 'partials/principal-talleres.html' %}</div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <!--plugins-->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/metismenu/js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/fullcalendar/js/main.min.js') }}"></script>
    
    <script>
        $(document).ready(function() {
            // Asegúrate de que el contenedor del sidebar esté presente
            var sidebarWrapper = document.querySelector('.sidebar-wrapper');
            
            if (sidebarWrapper) {
                // Inicializa PerfectScrollbar solo si el contenedor existe
                new PerfectScrollbar(sidebarWrapper);
            }

            // Inicializa MetisMenu para el comportamiento del menú desplegable
            $('#sidebarMenu').metisMenu();
        });
    </script>
</body>

<footer class="bg-secondary text-center text-white py-3" style="background-color: #a3a39b;">
    <div class="container">
        <p class="mb-0">Avilach-Mls2025 todos los derechos reservados</p>
    </div>
</footer>

</html>
